
.react-datepicker__input-container input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.react-datepicker__close-icon::after{
    position: absolute;
    left: 9px;
    top: 11px;
}

.sum{
    position: absolute;
    width: auto;
    text-align: right;
    bottom: 0;
    right: 1.6rem;
}
.input-group>.form-control, .input-group>.form-select{
    width: 253px !important;
}